* {
	margin: 0; 	
	padding: 0;  
	background: #BEBEBE url("images/cab.jpg") repeat;
}
#container {
	font-family: Arial, Helvetica, sans-serif; 	
	font-size: 14px; 	
	background: none; 	
	width: 1000px;
	height: 100%; 	
	min-height: 700px !important; 	
	margin: 30px auto;
}

#header { 
	background: #FFFFF0; 
	width: 630px; 	
	height: 85px; 	
	border: 1px solid black; 	
	border-radius: 20px; 
	margin-bottom: 10px; 	
	padding: 10px;
}

#content {
	background: #FFF8DC;
	width: 1000px;
	height: 600px;
	border: 1px solid black;
	border-radius: 20px;
	
}

#letraa {
	background: #000000 url("images/alfabeto.gif") -10px -4px;
	width: 90px;
	height: 90px;
	float: left;
}

#letrap {
	background: #000000 url("images/alfabeto.gif") -285px -183px;
	width: 90px;
	height: 90px;
	float: left;
}

#letrad {
	background: #000000 url("images/alfabeto.gif") -288px -5px;
	width: 90px;
	height: 90px;
	float: left;
}

#letraw {
	background: #000000 url("images/alfabeto.gif") -383px -274px;
	width: 90px;
	height: 90px;
	float: left;
}

#letran {
	background: #000000 url("images/alfabeto.gif") -121px -182px;
	width: 90px;
	height: 90px;
	float: left;
}